<div class="card shadow-sm border-0">
  <div class="card-header bg-white">
    <h5 class="mb-0">הגדרות מערכת</h5>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save()" class="d-flex flex-column gap-4">
      <prompt-editor *ngIf="promptForm" [formGroup]="promptForm"></prompt-editor>
      <chunk-settings *ngIf="chunksForm" [formGroup]="chunksForm"></chunk-settings>

      <div class="card-footer bg-white text-center">
        <button type="submit" class="btn btn-primary px-4" [disabled]="form.pristine || form.invalid">
          שמירה
        </button>
      </div>
    </form>
  </div>


</div>